<%-include("partials/header")-%>
<h1>home</h1>
<p><%=homecontent%></p>
<%postsvalue.forEach((ele)=>{%>
<h1><%=ele.title%></h1>
<p><%=ele.content.substring(0,100)+"..."%><a href="/posts/<%=ele.title%>">Read more</a></p>
<%})%>

<%-include("partials/footer")-%>